<header>
  <nav>
    <div class="logo">
      <a href="/">Delichoice!</a>
    </div>
    <ul>
      <li><a href="/products">Tienda</a></li>
      <li><a href="/products/admin">Admin</a></li>
      <li><a href="/#contact">Contacto</a></li>
      <li><a href="/user/login" id="loginIcon">Login</a></li>
      <li><a href="/cart" id="cartIcon">Carrito <span id="cartCount">0</span></a></li>
    </ul>
  </nav>
</header>