<header>
  <nav>
    <div class="logo">
      <a href="/">Delichoice!</a>
    </div>
    <ul>
      <li><a href="/products">Productos</a></li>
     
        <li><a href="/products  /create">Crear Producto</a></li>
        <li><a href="/products?edit=true">Editar Productos</a></li>
  
      <li><a href="/#contact">Contacto</a></li>
      <li><a href="/user/login" id="loginIcon">Login</a></li>
      <li><a href="/cart" id="cartIcon">Carrito <span id="cartCount">0</span></a></li>
    </ul>
  </nav>
</header>