<header>
  <nav>
    <div class="logo">
      <a href="/">Delichoice!</a>
    </div>
    <ul>
      <li><a href="/products">Nuestro menú</a></li>
      <% if (user && user.role === 'admin') { %>
      <li><a href="/products/admin/list">Admin</a></li>
      <% } %>
      <li><a href="/#contact">Contacto</a></li>
      <li><a href="/users/login" id="loginIcon">Login</a></li>
      <li><a href="/cart" id="cartIcon">Carrito <span id="cartCount">0</span></a></li>
      l
    </ul>
  </nav>
</header>